body, html {
    height: 100%;
    /* display: grid; */
}
  
#container {
    /* margin: auto; */
    margin-top: 200px;
    display: grid;
    justify-items: center;
    text-align: center;
}

#ip {
    border-radius: 25px;
    border: 1px solid#DCDCDC;
    padding: 20px; 
    width: 500px;
    height: 1px;  
    
}

#ip:hover {
    box-shadow: 0 0 3px #ccc;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

#logo {
    padding: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

li {
    float: right; 
    
    
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
  }

  #signin {
      margin-top: -9px;;
      background-color:#1a73e8;;
      color: white;
      border-radius: 6px;
      width: 100px;
      height: 38px;
  }